

<div class="container">
  <div class="row">
    <div class="col"><img src="../assets/hi-hat.png"></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="w-100"></div>
    <div class="col"><img src="../assets/snare.png"></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="w-100"></div>
    <div class="col">
      <img src="../assets/kick.png">
    </div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="w-100"></div>
    <div class="col">
      <img src="../assets/crash.png">
    </div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="w-100"></div>
    <div class="col">
      <img src="../assets/floor-tom.png">
    </div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="w-100"></div>
    <div class="col">
      <img src="../assets/left-tom.png">
    </div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="w-100"></div>
    <div class="col">
      <img src="../assets/right-tom.png">
    </div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    <div class="col"><label><input type="checkbox"><span></span></label></div>
    
  </div>
</div>
<!-- 
<div class="container">
  <div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item">
      <img src="../assets/hi-hat.png">
    </li>
    <li class="list-group-item">
      <img src="../assets/snare.png">
    </li>
    <li class="list-group-item">
      <img src="../assets/kick.png">
    </li>
    <li class="list-group-item">
      <img src="../assets/crash.png">
    </li>
    <li class="list-group-item">
      <img src="../assets/left-tom.png">
    </li>
    <li class="list-group-item">
      <img src="../assets/right-tom.png">
    </li>
    <li class="list-group-item">
      <img src="../assets/floor-tom.png">
    </li>
  </ul>
</div>
</div> -->